header{
    background:linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7)),url(./../img/team/team.jpg) no-repeat center;
    color: white;
    font-family: 'Courgette';
    background-size: cover;
    padding-bottom: 82px;
}
.photo_de_profil{
    max-width: 350px;
    border-radius: 50%;
    padding-right: 16px;
}
h3{
    font-family: 'Courgette';
}
p{
    font-weight: 300;
}