
.navbar {
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.titre_article {
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
    margin-bottom: 30%;
}

.photo_de_lauteur {
    border-radius: 50%;
}

.list_commentaire ul {
    list-style: none;
    padding: 0px;
}

.list_commentaire img {
    width: 72px;
    margin-right: 16px;

}

.list_commentaire {
    padding: 0px;
}

.haterz {
    margin-left: 80px;
    opacity: 50%;
}

.suzette {
    margin-bottom: 16px;
}

.oswasld {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Oswald', sans-serif;

}

.lettrine {
    font-family: 'Oswald';
    font-weight: bold;
    float: left;
    color: grey;
    font-size: 62px;
    line-height: 0.5em;
    padding-right: 8px;
    
}
h3,h4{
    font-family: 'Courgette', sans-serif;
}
a{
    color: black;
}